@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jamuna no.1<br />
    Ambedkar Square<br />
    <abbr title="Phone">P:</abbr>
    9359141263
</address>

<address>
    <strong>Support:</strong>   <a href="bhavikamehta112@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>